# Utils
pipreqs
dotenv
ipykernel
mypy
flake8
black
pylint


# Notebooks
notebook

# Web
Requests
beautifulsoup4==4.13.4

# Programming
pytest
rx
fastapi
uvicorn[standard]

# Langchain
langchain==0.3.26
langchain_community==0.3.27
langdetect==1.0.9

#
streamlit==1.46.1

# Data Analysis
matplotlib==3.10.3
numpy== 2.3.1
pandas== 2.3.1

# Graphs
networkx==3.5
pyvis==0.3.2

# NLP
sentence-transformers==5.0.0
nltk==3.9.1
spacy==3.8.7
pymupdf==1.26.3

# Vector Databases
faiss-cpu==1.11.0
